@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

button {
  padding: 10px;
  border: none;
  border-radius: 2px;
  color: var(--bkg-color);
  background: transparent;
}

.spacer {
  flex: 1 1 auto;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 10px;
  border: 3px solid aqua;
}
