<mat-card class="mat-card">
  <mat-list role="list" class="mat-nav-list">
    <mat-toolbar class="note_item mat-list-item">
      <mat-toolbar-row>
        <div style="display: flex; flex-direction: column; gap: 5px">
          <span class="note_list_text" [ngClass]="{complete: note.completed}" *ngIf="note.text; else noNotes">
            {{ note.text | lowercase }}
          </span>

          <span *ngIf="note.tag; else noTags" class="tag">{{ note.tag }}</span>
          <ng-template #noNotes>
            <span> Notes ran out :( </span>
          </ng-template>

          <ng-template #noTags>
            <span> Tags not found!!! </span>
          </ng-template>
        </div>

        <span class="spacer"></span>

        <mat-icon *ngIf="!note.completed" (click)="complete(note)">check</mat-icon>
        <mat-icon *ngIf="note.completed" (click)="complete(note)">undo</mat-icon>

        <mat-icon (click)="updNote(note)">edit</mat-icon>
        <mat-icon (click)="rmNote(note)">delete</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-list>
</mat-card>
