<form class="input-group" [formGroup]="form">
  <div>
    <mat-form-field style="width: 80%; margin-left: 100px">
      <input
        matInput
        type="text"
        name="task"
        [(ngModel)]="server.inputEditValue.text"
        [value]="server.inputEditValue.text"
        formControlName="text"
        placeholder="Enter text here..."
      />
    </mat-form-field>
    <span class="spacer"></span>
    <button type="button" (click)="saveNote(); form.reset()" *ngIf="!server.edit">
      <mat-icon>add</mat-icon>
    </button>
    <button (click)="updateNote(); form.reset()" *ngIf="server.edit">
      <mat-icon>save</mat-icon>
    </button>

    <div *ngIf="control['text'].touched && control['text'].invalid" style="margin-left: 100px">
      <span *ngIf="control['text'].errors?.['required']" class="alert">Cannot be empty!</span>
    </div>
  </div>

  <div>
    <mat-form-field style="width: 80%; margin-left: 100px">
      <input
        matInput
        type="text"
        formControlName="tag"
        [(ngModel)]="server.inputEditValue.tag"
        [value]="server.inputEditValue.tag"
        placeholder="#Enter tags here..."
      />
    </mat-form-field>
    <span class="spacer"></span>
    <button type="button" (click)="saveNote(); form.reset()" [disabled]="form.invalid" *ngIf="!server.edit">
      <mat-icon>add</mat-icon>
    </button>
    <button type="button" (click)="updateNote(); form.reset()" *ngIf="server.edit">
      <mat-icon>save</mat-icon>
    </button>

    <div *ngIf="control['tag'].touched && control['tag'].invalid" style="margin-left: 100px">
      <span *ngIf="control['tag'].errors?.['required']" class="alert">Wow is empty!</span>
      <span *ngIf="control['tag'].errors?.['pattern']" class="alert">Symbol # (hash) is missing</span>
    </div>
  </div>

</form>
